<h1>User profile</h1>
Name: <%= @user.name %><br>
Email: <%= @user.email %><br>
Posts:
<% @user.posts.each do |post| %>
  <%= link_to post.title, post %><br>
<% end %>
<br>

Friends:<br>
<% @user.friends.each do |friend| %>
  <%= link_to friend.name, user_path(friend) %><br>
<% end %>
<% if @user == current_user %>
  <%= "Invite friends:" %><br>
  <% @users.each do |user| %>
    <% unless user == current_user || current_user.friends.include?(user) %>
      <%= link_to user.name, user_path(user) %>
      <%= button_to "invite friend", notifications_path, params: { notification_text: "#{current_user.name} would like to invite you", user_id: user.id, friend_id: current_user.id }, method: "post" %>
    <% end %>
  <% end %>
<% end %>

