<h1>User profile</h1>
<%= link_to "Edit profile", edit_user_registration_path %>
<div>
  <% if @user.avatar.attached? %>
    <img src="<%=(url_for(@user.avatar))%>" class="avatar">
  <% else %>
    <%= image_tag ("index.jpg"), class:"avatar"%>
  <% end %>
</div>

<div class="details">
  <p class="details_element">Name: <%= @user.name %></p>
  <p class="details_element">Email: <%= @user.email %></p>
</div>
<ul class="user_posts">
  Posts:
  <% if @user.posts.empty? %>
    <%= "No post to display"%>
  <% else %>
    <% @user.posts.each do |post| %>
      <li>
        <%= link_to post.title, post %>
      </li>
    <% end %>
  <% end %>
</ul>
<br>
<div class="friends_list">
  <ul>
    Friends:
    <% @user.friends.each do |friend| %>
      <li>
        <%= link_to friend.name, user_path(friend) %>
      </li>
    <% end %>
  </ul>
  <% if @user == current_user %>
    <ul>
      <%= "Invite friends:" %><br>
      <% @users.each do |user| %>
        <% unless user == current_user || current_user.friends.include?(user) %>
          <div class="invite">
            <li>
              <%= link_to user.name, user_path(user), class:"link_profile" %>
            </li>
              <%= button_to "invite friend", notifications_path, params: { notification_text: "#{current_user.name} would like to invite you", user_id: user.id, friend_id: current_user.id }, method: "post", class:"link_profile" %>
          </div>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>

