<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flash_messages">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <div class="navbar">
      <div class="profile_root">
        <%  unless current_user.nil? %>
          <%= link_to "#{current_user.name} profile", user_path(current_user.id), class:"profile" %>
        <% end %>
        <%= link_to "Main page", root_path, class:"root" %>
      </div>
      <div class="devise">
        <%= link_to "Sign up", new_user_registration_path, class:"devise_link" %>
        <%= link_to "Sign in", new_user_session_path, class:"devise_link" %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class:"devise_link" %>
      </div>
    </div>
    <div class="middle">
      <div class="yield">
        <%= yield %>
      </div>
      <div class="notifications">
        <% unless current_user.nil?%>
          <% @notifications.each do |notif| %>
            <%= notif.notification_text %>
            <%= button_to "Accept", friendships_create_path, params: { user_id: current_user.id, friend_id: notif.friend_id, notification: notif }, method: "get" %>
            <%= button_to "Reject", notification_path(notif), method: :delete %>
          <% end %>
        <% end %>
      </div>
    </div>
  </body>
</html>
