<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%  unless current_user.nil? %>
      <%= link_to "#{current_user.name} profile", user_path(current_user.id) %><br>
    <% end %>
    <%= link_to "Sign up", new_user_registration_path %>
    <%= link_to "Sign in", new_user_session_path %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    <%= link_to "Main page", root_path %><br>
    <%= yield %>
    <% unless current_user.nil?%>
      <% @notifications.each do |notification| %>
        <%= notification.notification_text %>
      <% end %>
    <% end %>
  </body>
</html>
